[submodule ".vim"]
	path = .vim
	url = https://github.com/dbarsam/.vim.git
[submodule ".cmd"]
	path = .cmd
	url = https://github.com/dbarsam/.cmd.git
[submodule ".ps1"]
	path = .ps1
	url = https://github.com/dbarsam/.ps1.git
